@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html {
	background-color: var(--base3);
	font-family: 'Vollkorn', serif;
}

@media screen and (min-width: 601px) {
    :root {
        --h1: 3em;
        --h2: 2em;
        --text: 1em;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --h1: 3em;
        --h2: 2em;
        --text: 1em;
    }
}

.title {
	color: var(--base0);
}

.centre {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.centre_page {
	margin: auto;
	width: 70%;
	padding: 20px;
	border-radius: 5px;
}

h1 {
	color: var(--base0);
    font-family: 'Libre Baskerville', serif;
}

h2 {
	color: var(--base1);
	font-family: 'Libre Baskerville', serif;
}

.text {
	font-size: var(--text);
	color: var(--base0);
}

li, li a {
	font-size: var(--text);
	padding: 5px;
	color: var(--base0);
}

.topic_round {
	background-color: var(--yellow);
	border-radius: 50%;
	text-align: center;
	color: var(--base2);
	width: 5em;
	padding: 2px;
	font-size: .7em;
	display: inline;
}
