html {
	background-color: var(--base3);
}

.title {
	color: var(--base0);
}

.centre {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.centre_page {
	margin: auto;
	width: 70%;
	padding: 20px;
	border-radius: 5px;
}

.about {
	
}

h2 {
	color: var(--base0);
}

.text {
	font-size: 1.2em;
	color: var(--base0);
}

li {
	font-size: 1.2em;
	color: var(--base0);
}

.post_body {
	margin-top: 1em;
	border: 1px solid var(--red);
}